# For Flask apps
Flask
Flask-WTF
# For Dash apps
dash
dash-bootstrap-components
# For the REST API
Flask-SQLAlchemy
Flask-Marshmallow
Marshmallow-SQLAlchemy
jwt
pandas
# For the Iris ML model app
# scikit-learn