<!-- Uses Bootstrap classes -->
{% macro render_field(field) %}
    <div class="form-group mx-sm-3 mb-2">
        {{ field.label }}
        {{ field(**kwargs, class="form-control")|safe }}
        {% if field.errors %}
            <ul class="alert alert-error">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_form(form) %}
    {{ form.csrf_token }}
    {% for field in form if not field.id == 'csrf_token' %}
        {{ render_field(field) }}
    {% endfor %}
{% endmacro %}