<!DOCTYPE html>
<!-- HTML for the responsive CSS activity from week 6 -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Home page with responsive CSS</title>
</head>
<body>
<div class="container">
    <p>Welcome to responsive web pages!</p>
    <img src="{{ url_for('static', filename='/img/chart.png') }}" alt="Paralympics line chart showing participants over time" width="100%">
</div>
</body>
</html>